@charset "UTF-8";

body {
    background-color: #110b11;
    font-family: neuzeit-grotesk, sans-serif;
    font-size: 1.875em;
    line-height: 1.25em;
    color: #ecebf3;
	text-align: center;
	align-content: center;
	
}

a.nav {
	font-family: baskerville-urw, serif;
	text-size: 25px;
	text-decoration: none;
	color: #ecebf3;
}

img {
	width: 100%;
}

.v.second {
	margin-top: -10px;
}

.v-tighten {
	width: 80%;
}

.h {
	width: auto;
	max-height: 650px;
}

strong { 
	font-family: baskerville-urw, serif;
	text-size: 25px;
	text-decoration: none;
	font-weight: 400;
}

.intro {
    margin-top: 8em;
}

.chapter {
	margin-top: 300px;
}
p {
	text-align: center;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

p.accent {
	font-family: baskerville-urw, serif;
	line-height: 1.3em;
	font-weight: 400;
	font-size: 1.2em;
	margin-top: 2em;
	margin-bottom: 2em;
	
}



/*INDIVIDUAL SECTION STYLES*/

.the-word {
	color: #c1513b;
}

.the-word p.accent {
	color: #d98324;
}

.feelings {
	color: #d98324;
}

.feelings p.accent {
	color: #ffe93e;
}

.internalised-oppression {
	color: #ffe93e;
}

.internalised-oppression p.accent {
	color: #7dce82;
}

.internalised-oppression p.step-1 {
	/*color: #e1d25c;*/
	color: #c7b100;
}

.internalised-oppression p.step-2 {
	/*color: #c4bb79;*/
	color: #a08e00;
}


.internalised-oppression p.step-3 {
	/*color: #a6a497;*/
	color: #796b00;
}

.labels {
	color: #7dce82;
}

.labels p.accent {
	color: #6db1bf;
}

.fear {
	color: #6db1bf;
}

.fear p.email {
	color: #827ec7;
	font-family:monospace;
}

.fear p.accent {
	color: #827ec7;
}

.outro {
	color: #827ec7;
}

/*AUDIO PLAYER*/

#audio-player{
	opacity: 0;
}

#audio-instructions{
	margin-top: -91px;
}

/*sidescroll*/
.resent-fade {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
	
}
  
.card {
    display: inline-block;
}

.side-image {
	max-height: 650px;
	width: auto;
}

.resent-fade-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
  
.card {
    flex: 0 0 auto;
    margin-right: 3px;
}


.scrolling-wrapper, .scrolling-wrapper-flexbox {
  height: 80px;
  margin-bottom: 20px;
  width: 100%;
  webkit-overflow-scrolling: touch; 
	
}
	
.scrolling-wrapper, .scrolling-wrapper-flexbox::-webkit-scrollbar {
	display: none;
}
    

.side-image {
	opacity: 0%;
	animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
	
}
#resent2 {
	animation-delay: 2s;
}

#resent3 {
	animation-delay: 3s;
}

#resent4 {
	animation-delay: 4s;
}

#resent5 {
	animation-delay: 5s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/*ANIMATION*/



.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
