@charset "UTF-8";
/* CSS Document */

body {
	background-color: #110b11;
	text-align: center;
	align-content: center;
}

iframe {
	align-content: center;
}

img.center {
	width: 100%;
}

p {
	font-family: neuzeit-grotesk, san-serif;
	font-size: 25px;
	color: #ecebf3;
	text-align: left;
	float: none;
	padding: 10px;
}

p.left-accent {
	font-family: baskerville-urw, serif;
	font-size: 35px;
	padding: 25px;
	
}	
p {
	text-align: center;
}

p.left {
	text-align: left;
	float: none;
}
h1 {
	font-size: 45px;
	font-family: baskerville-urw, serif;
	color: #ecebf3;
	font-weight: 500;
	text-align: center;
}

h1.left {
	text-align: left;
}

a {
	text-decoration:none;
	font-weight: 700;
	color: #a7a2a9;
}
a.nav {
	font-family: baskerville-urw, serif;
	text-decoration: none;
	color: #ecebf3;
	font-weight: 400;
}

a.big-start {
	color: #ecebf3;
	font-weight: 400;
}


div {
	margin-bottom: 40px
}

.container {
	position: relative;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-image {
	  z-index: -100;
	  position: sticky;
	  position: -webkit-sticky;
	  top: 5px;
	  height: 100vh;
	  flex: 1 0 50%;
	  text-align: center;
}

.left-text {
	  position: relative;
	  display: flex;
	  flex: 1 0 50%;
	  flex-direction: column;
	  align-items: flex-start;
	  justify-content: space-between;
	  padding: 25px;
	  box-sizing: border-box;
	  webkit-box-sizing: border-box;
	  moz-box-sizing: border-box;
}

#start {
	text-align: center;
	padding-top: 281px;
	font-family: baskerville-urw, serif;
	font-size: 45px;
	font-weight: 500;

}

h1.a {
	font-weight: 500;
}

#big-start {
	color: #ecebf3;
	font-size: 60px;
	padding-bottom: 115px;
	letter-spacing: normal;
}

ul {
	list-style: none;
	color: #ecebf3;
	padding: 0;
	margin: 0;
}
