<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="false"
	galleryTitle="basicallyimgay.com"
	showOpenButton="true"
	useFullscreenExpand="true"
	indexPageName="raw gallery.html"

>
  <image imageURL="images/1spoileralert.jpg"
	thumbURL="thumbs/1spoileralert.jpg"
	linkURL="images/1spoileralert.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/1spoileralert.JPG">
    <title><![CDATA[1spoileralert]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2wegonnafuck.jpg"
	thumbURL="thumbs/2wegonnafuck.jpg"
	linkURL="images/2wegonnafuck.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/2wegonnafuck.JPG">
    <title><![CDATA[2wegonnafuck]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/3yes.jpg"
	thumbURL="thumbs/3yes.jpg"
	linkURL="images/3yes.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/3yes.JPG">
    <title><![CDATA[3yes]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/4chap1.jpg"
	thumbURL="thumbs/4chap1.jpg"
	linkURL="images/4chap1.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/4chap1.JPG">
    <title><![CDATA[4chap1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/5wheniwas.jpg"
	thumbURL="thumbs/5wheniwas.jpg"
	linkURL="images/5wheniwas.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/5wheniwas.JPG">
    <title><![CDATA[5wheniwas]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/6gay.jpg"
	thumbURL="thumbs/6gay.jpg"
	linkURL="images/6gay.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/6gay.JPG">
    <title><![CDATA[6gay]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7homeworkgay.jpg"
	thumbURL="thumbs/7homeworkgay.jpg"
	linkURL="images/7homeworkgay.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/7homeworkgay.JPG">
    <title><![CDATA[7homeworkgay]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/8mumgay.jpg"
	thumbURL="thumbs/8mumgay.jpg"
	linkURL="images/8mumgay.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/8mumgay.JPG">
    <title><![CDATA[8mumgay]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/9girlgay.jpg"
	thumbURL="thumbs/9girlgay.jpg"
	linkURL="images/9girlgay.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/9girlgay.JPG">
    <title><![CDATA[9girlgay]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/10thanksagain.jpg"
	thumbURL="thumbs/10thanksagain.jpg"
	linkURL="images/10thanksagain.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/10thanksagain.JPG">
    <title><![CDATA[10thanksagain]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/11chap2.jpg"
	thumbURL="thumbs/11chap2.jpg"
	linkURL="images/11chap2.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/11chap2.JPG">
    <title><![CDATA[11chap2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/12selfhatred.jpg"
	thumbURL="thumbs/12selfhatred.jpg"
	linkURL="images/12selfhatred.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/12selfhatred.JPG">
    <title><![CDATA[12selfhatred]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/13emo.jpg"
	thumbURL="thumbs/13emo.jpg"
	linkURL="images/13emo.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/13emo.JPG">
    <title><![CDATA[13emo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/13gofigure.jpg"
	thumbURL="thumbs/13gofigure.jpg"
	linkURL="images/13gofigure.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/13gofigure.jpg">
    <title><![CDATA[13gofigure]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/14vers.jpg"
	thumbURL="thumbs/14vers.jpg"
	linkURL="images/14vers.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/14vers.JPG">
    <title><![CDATA[14vers]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/15blame.jpg"
	thumbURL="thumbs/15blame.jpg"
	linkURL="images/15blame.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/15blame.JPG">
    <title><![CDATA[15blame]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/16chap3.jpg"
	thumbURL="thumbs/16chap3.jpg"
	linkURL="images/16chap3.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/16chap3.JPG">
    <title><![CDATA[16chap3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/17coolpoints.jpg"
	thumbURL="thumbs/17coolpoints.jpg"
	linkURL="images/17coolpoints.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/17coolpoints.JPG">
    <title><![CDATA[17coolpoints]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/18panic.jpg"
	thumbURL="thumbs/18panic.jpg"
	linkURL="images/18panic.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/18panic.jpg">
    <title><![CDATA[18panic]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/19nevertrapped.jpg"
	thumbURL="thumbs/19nevertrapped.jpg"
	linkURL="images/19nevertrapped.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/19nevertrapped.JPG">
    <title><![CDATA[19nevertrapped]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20safe.jpg"
	thumbURL="thumbs/20safe.jpg"
	linkURL="images/20safe.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/20safe.JPG">
    <title><![CDATA[20safe]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/21danandphil.jpg"
	thumbURL="thumbs/21danandphil.jpg"
	linkURL="images/21danandphil.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/21danandphil.JPG">
    <title><![CDATA[21danandphil]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/22freshvoid.jpg"
	thumbURL="thumbs/22freshvoid.jpg"
	linkURL="images/22freshvoid.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/22freshvoid.JPG">
    <title><![CDATA[22freshvoid]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/23chap4.jpg"
	thumbURL="thumbs/23chap4.jpg"
	linkURL="images/23chap4.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/23chap4.JPG">
    <title><![CDATA[23chap4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/24answer.jpg"
	thumbURL="thumbs/24answer.jpg"
	linkURL="images/24answer.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/24answer.JPG">
    <title><![CDATA[24answer]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/25gender.jpg"
	thumbURL="thumbs/25gender.jpg"
	linkURL="images/25gender.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/25gender.JPG">
    <title><![CDATA[25gender]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/26boob.jpg"
	thumbURL="thumbs/26boob.jpg"
	linkURL="images/26boob.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/26boob.JPG">
    <title><![CDATA[26boob]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/27steak.jpg"
	thumbURL="thumbs/27steak.jpg"
	linkURL="images/27steak.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/27steak.JPG">
    <title><![CDATA[27steak]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/28blob.jpg"
	thumbURL="thumbs/28blob.jpg"
	linkURL="images/28blob.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/28blob.JPG">
    <title><![CDATA[28blob]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/29dontknowshit.jpg"
	thumbURL="thumbs/29dontknowshit.jpg"
	linkURL="images/29dontknowshit.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/29dontknowshit.JPG">
    <title><![CDATA[29dontknowshit]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/30meteor.jpg"
	thumbURL="thumbs/30meteor.jpg"
	linkURL="images/30meteor.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/30meteor.JPG">
    <title><![CDATA[30meteor]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/31imgay.jpg"
	thumbURL="thumbs/31imgay.jpg"
	linkURL="images/31imgay.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/31imgay.JPG">
    <title><![CDATA[31imgay]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/32werehere.jpg"
	thumbURL="thumbs/32werehere.jpg"
	linkURL="images/32werehere.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/32werehere.JPG">
    <title><![CDATA[32werehere]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/33chap5.jpg"
	thumbURL="thumbs/33chap5.jpg"
	linkURL="images/33chap5.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/33chap5.JPG">
    <title><![CDATA[33chap5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/34cometoterms.jpg"
	thumbURL="thumbs/34cometoterms.jpg"
	linkURL="images/34cometoterms.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/34cometoterms.JPG">
    <title><![CDATA[34cometoterms]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/35itsright.jpg"
	thumbURL="thumbs/35itsright.jpg"
	linkURL="images/35itsright.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/35itsright.JPG">
    <title><![CDATA[35itsright]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/36future.jpg"
	thumbURL="thumbs/36future.jpg"
	linkURL="images/36future.jpg"
	linkTarget="_blank"
	sourcePath="/Volumes/Seagate Backup Plus Drive/basically i'm gay type proj/one year of big website/one-year-of-big/watermarked-images/36future.JPG">
    <title><![CDATA[36future]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>